/* You can customize theme styles here */
:root {
    --prim-color: #007bff
}

/* header */

.header .navbar {
    justify-content: space-between;
}

.header .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo__text {
    color: #000;
    font-weight: 700;
}

#logo__cursor {
    margin-top: 0;
    margin-left: 5px;
    display: inline-block;
    width: 11px;
    height: 22px;
    background: #fe5186;
    border-radius: 1px;
    animation: cursor 1.25s 4;
}

@media (min-width: 768px) {
    #logo__cursor {
        width: 15px;
        height: 30px;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header .top-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-menu {
    border-right: 1px solid;
    margin-right: .25rem;
    padding-right: .25rem;
    ;
}

.top-menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu__list a,
.top-menu__list div {
    border: none;
    padding: 0 .5rem;
}

.top-menu__list a:hover {
    text-decoration: underline;
}

.header .navbar .navbar-toggler {
    position: static;
}

.header .navbar-collapse {
    margin-top: 15px;
}

.header .navbar .non-link {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 0 10px;
}

.header .navbar .nav-item:first-child {
    border-top: none;
}

.nav-item .nav-link:hover {
    background-color: #eee;
}

@media (min-width: 992px) {
    .top-visible {
        margin-left: auto !important;
    }

    .header .navbar-collapse {
        margin: 0;
        flex-grow: 0;
    }

    .header .ml-lg-auto {
        margin-left: 0 !important;
    }

    .header .navbar .non-link {
        display: none;
    }

    .header .navbar .nav-link {
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {

    .top-menu__list a,
    .top-menu__list div {
        padding: 0 20px;
    }
}

/* end header */
/* main section */

.rad-showcase .highlight-text {
    color: var(--prim-color, blue);
}

.rad-showcase .button-spacing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ln-blue {
    background-color: #0077b5;
}

.rad-showcase .btn-frameless {
    border-color: #000;
}

.rad-showcase .btn-frameless:hover {
    color: #fff;
    background-color: #000;
}

.rad-showcase a.btn {
    margin: 0 .25rem .25rem 0;
}

svg.bi {
    fill: #fff;
    width: 1em;
    height: 1em;
    margin: 0 9px 0 0;
}

svg.flip-margin {
    margin: 0 0 0 9px;
}

svg.flip-color {
    fill: #000;
}


.clr-wrap-blue {
    position: relative;
}

.clr-wrap-blue:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 80, 102, 0.1);
    border-radius: 15px;
}

.rad-showcase__bg--mobile {
    margin-top: 40px;
    padding: 0 24px;
}

.rad-showcase__bg--mobile img {
    max-width: 721px;
    height: auto;
    margin-top: 0;
    border-radius: 15px;
}

#portfolio a.btn {
    margin: 0 .25rem .25rem 0;
}

/* end main section */
/* footer */

@media (max-width: 992px) {
    .footer .footer__copy {
        white-space: normal;
    }
}

.footer a {
    color: #fff;
}

/* end footer */