/* You can customize theme styles here */
.header .navbar {
    justify-content: space-between;
}

.header .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo__text {
    color: #000;
    font-weight: 700;
}

#logo__cursor {
    margin-top: 0;
    margin-left: 5px;
    display: inline-block;
    width: 11px;
    height: 22px;
    background: #fe5186;
    border-radius: 1px;
    animation: cursor 1.25s 4;
}

@media (min-width: 768px) {
    #logo__cursor {
        width: 15px;
        height: 30px;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header .top-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-menu {
    border-right: 1px solid;
    margin-right: .25rem;
    padding-right: .25rem;;
}

.top-menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu__list a, .top-menu__list div {
    border: none;
    padding: 0 .5rem;
}

.header .navbar .navbar-toggler {
    position: static;
}

.header .navbar-collapse {
    margin-top: 15px;
}

.header .navbar .non-link {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 0 10px;
}

.header .navbar .nav-item:first-child {
    border-top: none;
}

.nav-item .nav-link:hover {
    background-color: #eee;
}

@media (min-width: 992px) {
    .top-visible {
        margin-left: auto !important;
    }

    .header .navbar-collapse {
        margin: 0;
        flex-grow: 0;
    }

    .header .ml-lg-auto {
        margin-left: 0 !important;
    }

    .header .navbar .non-link {
        display: none;
    }

    .header .navbar .nav-link {
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {
    .top-menu__list a, .top-menu__list div {
        padding: 0 20px;
    }
}

/* end header */

#experience .btn-frameless {
    border-color: #000;
}

#experience .btn-frameless:hover {
    color: #fff;
    background-color: #000;
}

.footer a {
    color: #fff;
}